{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Monarq Naturals</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/account.css' %}" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <div>
        <h1>THE MONARQ NATURALS</h1>
    </div>
    <div>
        <h1>REGISTER TO SHOP</h1>
        {% if message %}
          <div>{{ message }}</div>
        {% endif %}
        <form action="{% url 'register' %}" method="post">
          {% csrf_token %}
          <div class="input-box">
              <input class="form-control" autofocus type="text" name="username" placeholder="Username">
          </div>
          <div class="input-box">
              <input class="form-control" type="email" name="email" placeholder="Email Address">
          </div>
          <div class="input-box">
              <input class="form-control" type="password" name="password" placeholder="Password">
          </div>
          <div class="input-box">
              <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
          </div>
          <input class="btn" type="submit" value="Register">
      </form>
      <div class="register-link">
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
      </div>
    </div>
  </div>
</body>
</html>
